/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.Container {
  grid-area: main;
  padding: 5% 10% 2% 10%;
  text-align: left;
  background-color: white;

  a {
    color: rgb(29, 206, 29);
  }
}

.AboutLink {
  color: red !important;
  font-size: 20px;
}

.Container {
  p {
    margin: 5px 15px;
  }

  h2 {
    position: relative;

    &::before {
      display: block;
      content: "";
      width: 10%;
      margin: 1px;
      top: 100%;
      height: 2px;
      position: absolute;
      background-color: rgb(233, 130, 56);
    }

    &::first-letter {
      color: rgb(233, 130, 56);
    }
  }
}
.LNews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  > div {
    width: -webkit-fill-available;
  }
}
.MainTitle {
  text-align: center;
  margin-top: 15px;
}

@media (max-width: 1080px) {
  .Container {
    font-size: 13px!important;
    padding: 10% 5% 2%!important;
  }
}
@media (max-width: 970px) {
  .Container {
    font-size: 13px!important;
  }
  h2{
    font-size: 15px;
  }
  .MainTitle{
    font-size: 18px;
  }
}

@media (max-width: 490px) {
  .Container {
    font-size: 9px!important;
    padding: 13% 5% 2%!important;
  }
  h2{
    font-size: 12px;
  }
  .MainTitle{
    font-size: 14px;
  }
}
