.activeLink {
    color: red!important;
}

.Logo {
    left: 1%;
    position: absolute;
    height: 25px;
    width: 25px;
}

.Navbar {
    grid-area: nav;
    width: 100%;
    min-height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 10px 10px 0 rgb(60 64 67 / 30%), 0 5px 6px 2px rgb(60 64 67 / 15%);
    position: fixed;
    background-color: white;
    z-index: 1;
    flex-wrap: wrap;
}

.colorMode {
    color: white;
}

.Navbar>ul {
    list-style-type: none;
    display: flex;
    min-width: 50%;
    align-items: center;
    justify-content: space-evenly;
    flex: auto;
}

.Navbar nav {
    display: flex;
    justify-content: space-evenly;
    flex: auto;
}

.SmallNavbar {
    border: 1px solid white;
    transform: skewX( -10deg);
    padding: 7px 20px;
    line-height: 25px;
    position: absolute;
    z-index: 10;
    right: 5%;
    top: 35%;
}
.SmallNavbar ul{
    list-style-type:none;
}
.SmallNavbar a{
    color: white;
}

.Navbar nav>button {
    text-align: center;
    background: linear-gradient(to right, white 50%, black 50%);
    background-size: 200% 100%;
    color: black;
    cursor: pointer;
    padding: 1%;
    transition: all ease 0.7s;
    background-position: left bottom;
}

.Navbar nav>button:hover {
    border: 1px solid white;
    background-position: right bottom;
    color: white;
}

a {
    text-decoration: none;
    color: black;
    transition: all ease 0.7s;
}

option {
    cursor: pointer;
}

.ToggleLg {
    margin: 7px 13px;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    padding: 7px;
}

.ToggleLg:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 0, 0);
}

@media (max-width:700px) {
    .Logo {
        display: none;
    }
}

@media (max-width:500px) {
    .Navbar {
        font-size: 12px;
    }
}