.Container {
    grid-area: main;
    padding: 5% 10% 2% 10%;
    text-align: left;
    background-color: white;
    text-align: center;
}

.Container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Container form>p {
    width: 100%;
    margin: 15px;
}

.ItemsContainer {
    width: 100%;
    height: 100px;
    overflow-y: auto;
}

.Container textarea {
    width: 100%;
    height: 100px;
    outline: none;
    resize: none;
}

.AdminPanel>div {
    display: table-column;
    transform: scaleY(0.0);
    transition: all ease 0.7s;
}

.Open {
    display: block!important;
    transform: scaleY(1.0)!important;
}

@media (max-width:970px) {
    .Container {
        padding: 12% 10% 2% 10% !important;
    }
}

@media (max-width:490px) {
    .Container {
        font-size: 12px;
        padding: 15% 10% 2% 10% !important;
    }
}