.Container{
    grid-area: footer;
    box-shadow: 0 -5px 15px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    min-height: 50px;
}
.Container button{
    margin: 7px;
    width: fit-content;
}
.Container h4{
    padding-top: 15px;
}
.Mail{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}
.colorMode a{
    color: white;
}
.Modal{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 25;
    background-color: rgb(66, 66, 64);
    opacity: 0.7;
    top: 0;
}
.ModalContent{
    border-radius: 15px;
    top: 0;
    padding: 2%;
    background-color: white;
    margin: 10% 20%;
    position: fixed;
    color: black!important;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    z-index: 30;
    justify-content: end;
    align-items: center;
}
.ModalContent textarea{
    width: 100%;
    height: 35%;
    outline: none;
    resize: none;
}
.Mail svg{
    margin-right: 5px;
    height: 20px;
    width: 20px;
    transition: all ease 0.7s;
}
.Mail:hover a{
    color: gray;
}
.Mail:hover svg{
    color: gray;
}