/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.Container {
  grid-area: main;
  padding: 5% 5% 2% 5%;
  background-color: white;
  text-align: center;
}
.MapContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.Map {
  border: 0;
  height: 500px;
  border-radius: 5px;
  margin: 15px;
  flex-grow: 1;
}

.Contacts {
  ul {
    margin: 2%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  li {
    a {
      color: white;
    }

    &:hover > a {
      color: gray;
      font-size: 20px;
    }
  }
}
@media (max-width: 970px) {
  .Container {
    padding: 12% 0% 2% 0% !important;
  }
}

@media (max-width: 490px) {
  .Container {
    font-size: 12px;
    padding: 15% 0% 2% 0% !important;
  }
  .Map{
    height: auto;
  }
}