.Container{
    grid-area: main;
    padding: 5% 10% 2% 10%;
    text-align: left;
    background-color: white;
    text-align: center;
}
.Map{
    border: 0;
    width: 100%;
    height: 500px;
    border-radius: 15px 60px;
    margin: 15px;
}
.Contacts ul{
    margin: 2%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.Contacts a{
    color: white;
}
.Contacts a:hover{
    color: gray;
    font-size: 20px;
}